
<h1><%= @player_1 %> vs. <%= @player_2 %></h1>

<h3><%= @player_1 %>: 60HP</h3>
<h3><%= @player_2 %>: 60HP</h3>


<form action="/attack" method="get">
  
  <input type="submit" value="Attack">
</form>
