
<h1><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>

<h3><%= @game.player_1.name %>: 60HP</h3>
<h3><%= @game.player_2.name %>: 60HP</h3>


<form action="/attack" method="get">
  
  <input type="submit" value="Attack">
</form>
